.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .row {
    width: 33.3%; /* Adjust as needed */
    margin-bottom: 20px;
    
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #d1cccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #369;
    margin-bottom: 10px;
  }
  
  .learn-more {
    background-color: #369;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .learn-more:hover {
    background-color: #369;
  }
  

  
  .card p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #666666;
    line-height: 1.5;
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: left;
    overflow-y: auto;
  }
  
  .popup-cards {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start;
    
  }
  
  .column {
    width: 50%; /* Adjust as needed */
    margin-bottom: 20px;
  }
  
  .popup-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white; /* Set initial background color to white */
    color: black; /* Set initial text color to black */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }


  .additional-read-more {
    background-color: #369;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .additional-read-more:hover {
    background-color: #369;
  }




.popup-card:hover,
.popup-card:focus {
  background-color: #357; /* Change background color to blue on hover or focus */
  color: white; /* Change text color to white on hover or focus */
}

/* Style for h2 */
.popup-card h2 {
  color: #357; /* Set default color to blue */
}

.popup-card:hover h2,
.popup-card:focus h2 {
  color: white; /* Change color to white on hover or focus */
}
/* Styles for close button */
.close-button {
  width: 35px;
  height: 35px;
  
  border-radius: 10px;
  background: #369;
  position: fixed;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 200;
  text-indent: -9999px;
}

.close-button::before,
.close-button::after {
  content: '';
  width: 55%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 48%;
  left: 22%;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.close-button::after {
  transform: rotate(45deg);
  transition: 0.3s;
}

.close-button:hover::before,
.close-button:hover::after {
  transform: rotate(180deg);
}
.additional-card {
    width: 400px;
    height:auto;
    align-items: left;
  }

  /* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .cards-container {
      width: auto; /* Adjust container width for smaller screens */
    
  }
}

@media screen and (max-width: 480px) {
  body {
      font-size: 14px; /* Adjust font size for smaller screens */
  }
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .additional-card {
      width: auto; /* Adjust container width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  body {
      font-size: 14px; /* Adjust font size for smaller screens */
  }
}